 
        <div class="footer">
            <div id="logo_footer">
                <img src="img/js.png" href="" alt="logo clb" class="logo">
                JS CLUB CTS
            </div>
        
            <div class="nav_item_footer1_and_2">
                <ul class="nav_item_footer1">
                    <li><div class="nav_btn"><a href="">Contact</a></div></li>
                    <li><div class="nav_btn"><a href="">Contribute</a></div></li>
                    <li><div class="nav_btn"><a href="">Source Code</a></div></li>
                </ul>
                
                <ul class="nav_item_footer2">
                    <li id="ctv">CTV Team 4 ©2023</li>
                    <li><img src="https://cdn-icons-png.flaticon.com/512/2175/2175193.png" alt="" class="icon"></li>
                    <li><img src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png" alt="" class="icon"></li>
                </ul>
            </div>
        </div>

