<footer class="footer>
    <ul class="nav_item logo_footer">
        <li class="nav_logo">
            <img src="img/logo.png" href="" alt="logo clb" class="logo">
        </li>
    </ul>

    <div class="nav_item_footer1_and_2">
        <ul class="nav_item_footer1">
            <li>
                <div class="nav_btn"><a href="">Contact</a></div>
            </li>
            <li>
                <div class="nav_btn"><a href="">Contribute</a></div>
            </li>
            <li>
                <div class="nav_btn"><a href="">Source Code</a></div>
            </li>
        </ul>

        <ul class="nav_item_footer2">
            <li id="ctv">CTV Team 4 ©2023</li>
    </div>

    <ul class="nav_item logo_footer"></ul>
</footer>