<h2 class="mx-auto mt-5">Create a new problem</h2>
<form method="POST" action="/homepage/tasks/create" enctype="multipart/form-data" class="w-75 mx-auto mt-5">
  <div class="mb-3">
    <label for="task_name" class="form-label">Task Name</label>
    <input maxlength="30" type="text" name="task_name" class="form-control" id="task_name" placeholder="Enter task name" required />
  </div>
  <div class="mb-3">
    <label for="task_description" class="form-label">Task Description</label>
    <input type="file" name="task_description" class="form-control" id="task_description"
      placeholder="Upload task description" required accept="application/pdf" />
  </div>
  <div class="mb-3">
    <label for="score" class="form-label">Score</label>
    <input min="10" max="1000" type="number" name="score" class="form-control" id="score" placeholder="Enter score" required />
  </div>

  <button type="submit">Add Task</button>
</form>
<script>
  var uploadField = document.getElementById("task_description");
  var myFile = "";
  uploadField.onchange = function () {
    if (this.files[0].size > 2*1024*1024) {
      alert("File is too big!");
      this.value = "";
    };
    myFile = this.files[0].name;
    console.log(myFile);
    var upld = myFile.split('.').pop();
    if (upld != 'pdf') {
      alert("Only PDF are allowed");
      this.value = "";;
    }
  };
  
 
</script>