<form method="POST" action="/homepage/admin/tasks/create/">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Task Name</label>
    <input
      type="text"
      name="task_name"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="Enter task name, must be equal name of file dpf"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Task Description</label>
    <input
      type="file"
      name="task_description"
      class="form-control"
      id="formGroupExampleInput2"
      placeholder="Upload task description"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Score</label>
    <input
      type="number"
      name="score"
      class="form-control"
      id="formGroupExampleInput2"
      placeholder="Enter score"
    />
  </div>
  <button type="submit">Add Task</button>
</form>