<form method="POST" action="/homepage/admin/tests/create" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Input</label>
    <input
      type="text"
      name="input"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="Enter input"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Output</label>
    <input
      type="number"
      name="output"
      class="form-control"
      id="formGroupExampleInput2"
      placeholder="Enter output"
    />
  </div>
  <input type="hidden" name="slug">
  <button type="submit">Add Test</button>
</form>