<form method="POST" action="/homepage/tasks/create" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="task_name" class="form-label">Task Name</label>
    <input
      type="text"
      name="task_name"
      class="form-control"
      id="task_name"
      placeholder="Enter task name, must be equal name of file pdf"
    />
  </div>
  <div class="mb-3">
    <label for="task_description" class="form-label">Task Description</label>
    <input
      type="file"
      name="task_description"
      class="form-control"
      id="task_description"
      placeholder="Upload task description"
    />
  </div>
  <div class="mb-3">
    <label for="score" class="form-label">Score</label>
    <input
      type="number"
      name="score"
      class="form-control"
      id="score"
      placeholder="Enter score"
    />
  </div>

  <button type="submit">Add Task</button>
</form>