<div class="container-new">
<div class="Left_side">
    <img src="img/anhteam.jpg" alt="anh team">
</div>
<div class="Right_side">
<div class="login-box">
<h2>Login</h2>
<form>
<div class="user-box">
<input type="text" name="" required="">
<label>Username</label>
</div>
<div class="user-box">
<input type="password" name="" required="">
<label>Password</label>
</div>

<br><br>

<div class="remember-me--forget-password">
<!-- Angular -->
<label>
<input type="checkbox" name="item" checked />
<span class="text-checkbox">Remember me</span>
</label>
<p>Forget password?</p>
</div>
<a href="#">
<span></span>
<span></span>
<span></span>
<span></span>
Submit
</a>
</form>
</div>
<h3> CTV Team 4 © 2023 </h3>
</div>
</div>