        <div class="container">
            <div class="ranking">
                <ul class="ranking_categories">
                    <li class="rank_rank">Rank</li>
                    <li class="username_rank">Username</li>
                    <li class="score">Score</li>
                </ul> 

                <ul class="ranking_content">
                    <li class="rank_rank">1</li>
                    <li class="username_rank">ai do</li>
                    <li class="score">100</li>
                </ul>
                <ul class="ranking_content">
                    <li class="rank_rank">2</li>
                    <li class="username_rank">ai do</li>
                    <li class="score">90</li>
                </ul>

                <ul class="ranking_content">
                    <li class="rank_rank">3</li>
                    <li class="username_rank">ai do</li>
                    <li class="score">30</li>
                </ul>
            </div>
        </div>