<div class="container_task_and_submit">
  <div class="problem_content">
    <div class="tool_bar">
      <p>{{task.task_name}}</p>
      <a href="">solution</a>
      <a href="">get template</a>
    </div>
    <iframe src="tasks/debai.pdf"></iframe>
  </div>

  <div class="submit">
    <form method="post" action="/homepage/submit" enctype="multipart/form-data">
        <input type="hidden" value='{{task.task_name}}' name="task_name">
        <input type="hidden" value='{{task.slug}}' name="task_slug">
        <input type="file" id="solution" name="solution"><br>
        <button type="submit">Submit</button><br>     
    </form>
  </div>
</div>
