
    <div class="problem_content">
        <div class="tool_bar">
            <p>Problem name</p>
            <a href="">solution</a>
            <a href="">get template</a>
        </div>
        <iframe src="tasks/debai.pdf"></iframe>
    </div>

    <div class="submit">
        <input type="file" name="" id="">
        <div>Submit</div>
    </div>
